body{
    background-color: rgb(245, 207, 174);
}

#fr * {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: normal;
	font-style: normal;
	font-size: 100%;
	font-family: 'Lato', Arial, Helvetica, sans-serif; 
	vertical-align: baseline;
	line-height: normal;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#fr {
	margin: 40px auto;
	position: relative;
    width: 450px;
}

#fr .frm{
    background: linear-gradient(to right, rgb(171, 116, 235), rgb(144, 238, 230));
    position: relative;
    width: 100%;
    height: auto;
    float: left;
    padding: 15px;
    box-shadow: 0 0 15px 0 rgb(1, 17, 161);
}

#fr .title{
    font-family: 'Courier New', cursive;
    font-weight: 900;
    font-size: 30px;
    color: black;
    line-height: normal;
    display: inline-block;
}

#fr p.ingr{
    font-family: 'Courier New';
    font-size: 20px;
	line-height: 15px;
	display: block;
	color: black;
	margin: 20px 0;
	float: left;
	clear: both;
	width: 100%;
}

#fr .field span{
    position: relative;
	width: 100%;
	clear: both;
	float: left;
	margin-bottom: 10px;
}

#fr .field span.bp{
    font-family: 'Courier New';
    font-size: 17px;
	display: block;
    color: black;
    margin: 10px 0;
    position: relative;
	width: 100%;
}

#fr .field input,
#fr .field textarea,
#fr .field select {
	border: solid 1px rgb(19, 18, 18);
	color: rgb(99, 96, 96);
	float: left;
	font-size: 12px;
	padding: 6px 10px 5px 25px;
	width: 100%;
}

#fr input.send {
        background: darkblue;
        border: solid 1px black;
        clear: none;
        color: whitesmoke;
        display: inline-block;
        float: right;
        font-size: 12px;
        margin: 10px;
        outline: none;
        padding: 6px 25px;
        text-align: center;
        text-transform: uppercase;
        width: auto;
    }